@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee-container {
  display: flex;
  overflow: hidden;
}

.marquee {
  animation: marquee-scroll 10s linear infinite;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
