@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee-container {
  display: flex;
  overflow: hidden;
}

.marquee {
  animation: marquee-scroll 25s linear infinite;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

::-webkit-scrollbar {
  width: 3px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: gray; 
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}


